@{
    ViewData["Title"] = "Receita";
}
@model CookMate.Controllers.IngredienteModel

<head>
    <link rel="stylesheet" href="~/css/addReceita.css">
</head>

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="https://i.imgur.com/EfK7afs.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form asp-controller="AddIngrediente" asp-action="Initial" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"></span>
                        </div>
                        <input asp-for="ingrediente" type="text" placeholder="Ingredient">
                        <div class="text-danger text-wrap">
                            @Html.ValidationMessage("IngredienteInvalido")
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"></span>
                        </div>
                        <input asp-for="quantidade" type="number" placeholder="Quantity">
                        <div class="text-danger text-wrap">
                            @Html.ValidationMessage("QuantidadeInvaliado")
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"></span>
                        </div>
                        <input asp-for="unidade" type="text" placeholder="Unity">
                        <div class="text-danger text-wrap">
                            @Html.ValidationMessage("UnidadeInvaliado")
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" name="button">Add</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <a class="nav-link" asp-area="" asp-controller="AddIngrediente" asp-action="Confirm"><b>Confirm</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
