@{
    ViewData["Title"] = "Receitas Favoritas";
}

<head>
    <link rel="stylesheet" href="~/css/menu.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<ul class="head">
    <li> <a asp-controller="Favorites" asp-action="Menu">Back</a></li>
    <li style="float:right"><a class="active">@ViewData["username"]</a></li>
</ul>

<form>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1>Favorite Recipes</h1>
            <div class="col-lg-9 content-right">
                <div class="row selected-classifieds">
                    @{
                        var receitas = (Receita[])ViewData["receitas"];
                        foreach (Receita r in receitas)
                        {
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                                <div class="thumbnail">
                                    <a href="/api/Receita/@r.id"><img src="" /></a>
                                </div>
                                <div class="caption">
                                    <h5><a href="/api/Receita/@r.id">@r.titulo</a></h5>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</form>
