@{
    ViewData["Title"] = "Register 3";
}
@model CookMate.Controllers.RegisterModel

<head>
    <link rel="stylesheet" href="~/css/register3.css">
</head>

    <form asp-controller="Register" asp-action="RegisterTres" method="post">
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="https://i.imgur.com/EfK7afs.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <h1 style="font-size:100%;font-family:verdana;">Insira Imagem de Perfil:</h1>
                <div class="custom-file mb-2">
                    <input asp-for="image" type="file" class="custom-file-input" id="image" lang="es">
                    <label class="custom-file-label" for="image">Selecionar Arquivo</label>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class=""></i></span>
                    </div>
                    <input asp-for="descricao" placeholder="Descrição">
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
                <button type="submit" name="button" class="register_btn">Register</button>
            </div>
        </div>
    </div>
</div>
    </form>
